@import url(https://fonts.google.com/specimen/Barlow);
@import url(https://fonts.google.com/specimen/Fraunces);

*{
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: auto 0px;
    font-size: 18px;
}

.header {
    background-image: url(/sunnyside-agency/resources/images/photos/image-header.jpg);
    background-size: cover;
    height: 800px;
    background-repeat: no-repeat;
}

header .downarrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

li {
    list-style: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}


.menu {
    display: flex;
    padding: 18px 24px;
    gap: 3em;
    font-size: 18px;
    color: #fff;
}

.contact {
    background-color: #fff;
    color: #000;
    border-radius: 30px;
    padding: 5px;
    font-family: 'Fraunces';
    text-transform: uppercase;
}

.contact:hover {
    opacity: 0.9;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Fraunces';
    font-size: 45px;  
    letter-spacing: 8.75px;
    color: #FFFFFF;
}

#double {
    display: grid;
    grid-template-columns: repeat(3, 600px);
    grid-template-columns: 1fr 1fr;
}

#double>section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#double h2,
h3 {
    font-family: 'Fraunces';
    font-weight: 900;
    letter-spacing: -0.285714px;
    color: #24303E;
}

a.learn  {
    display: inline-block;
    text-transform: uppercase;
    color: inherit;
    position: relative;
    text-decoration: none;
    font-size: 120%;
    padding: 0 5px;
}

a.learn::after {
    content: '';
    width: 100%;
    position: absolute;
    top: 17px;
    left: 0;
    right: 0;
    height: 8px;
    background-color: hsl(51, 100%, 49%);
    border-radius: 5px;
    z-index: -1;
    opacity: 0.5;
    transition: 3s;
}

.part1 {
    
    align-content: flex-start;
    align-self: center;
    justify-self: center;
    width: 445px;
}

section.audience {
    align-content: flex-start;
    align-self: center;
    justify-self: center;
    width: 445px;
}

.part1 p,
.audience p {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.128571px;
    color: #808397;
}

.oeuf {
    width: 720px;
    height: 600px;
    left: 720px;
    top: 800px;
    background-image: url(/sunnyside-agency/resources/images/photos/image-transform.jpg);
    background-repeat: no-repeat;
}

.tasse {
    width: 720px;
    height: 600px;
    left: 0px;
    top: 1400px;
    background-image: url(/sunnyside-agency/resources/images/photos/image-stand-out.jpg);
    background-repeat: no-repeat;
}

#double>section.graphic {
    background-image: url(/sunnyside-agency/resources/images/photos/image-graphic-design.jpg);
    background-repeat: no-repeat;
}

.photography {
    width: 720px;
    height: 600px;
    left: 720px;
    top: 2000px;
    background-image: url(/sunnyside-agency/resources/images/photos/image-photography.jpg);
    background-repeat: no-repeat;
}

#double>section.graphic, #double>section.photography {
   justify-content: flex-end;
   align-items: center;
   text-align: center;
   padding: 5% 25%;
}

.graphic h3,
.photography h3 {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: -0.2px;
    color: #24554A;
}

.graphic p,
.photography p {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: -0.114286px;
    color: #3E7467;
}

.testimonials h3 {
    font-family: 'Fraunces 9pt Soft';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 5px;

    color: #A7AAAD;
}

.client {
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 4px;
    grid-auto-flow: column;
    text-align: center;
    width: 1428px;
    height: 457px;
    left: 165px;
    top: 2760px;
}

.client img {
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.a {
    text-align: center;
    opacity: .65;
    margin: 50px 0;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.128571px;

    color: #5B636D;
}

.b {
    font-family: 'Fraunces 9pt Soft';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.128571px;

    color: #24303E;
}

.c {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    /* identical to box height, or 179% */

    text-align: center;
    letter-spacing: -0.1px;

    color: #A7AAAD;
}

.agency {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.agency img {
    max-width: 100%;
    height: auto;
}

footer{
    background-color: hsl(168, 34%, 41%);
    display: grid;
    align-items: center;
}

.foot {
    background: #90D4C6;
}

.logo-footer {
    text-align: center;
    margin: 40px 0;
}

footer>nav>ul {
    margin: 0;
    padding: 0;
}

.footer-menu {
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 100px;
    grid-auto-flow: column;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.128571px;
    color: #458D7E;
}

.icons{
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 50px;
    grid-auto-flow: column;
    font-size: 16px;
    padding: 18px 24px;
  
    color: #2C7566;
}

aside.attribution {
    background-color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    font-size: 11px;
    padding: 5px 0;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}